<div class="container m-5">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Mail</th>
        <th>Address</th>
        <th>Depart</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of empList">
        <td>{{ e.empId }}</td>
        <td>{{ e.empName }}</td>
        <td>{{ e.empMail }}</td>
        <td>{{ e.empAddr }}</td>
        <td>{{ e.empDept }}</td>
        <td>{{ e.empContactNo }}</td>
        <td>
          <button
            class="btn btn-danger"
            type="submit"
            (click)="deleteEmp(e.empId)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
