@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.emp{
    text-align: center;
    background-color: white;
    padding: 10px;
    font-weight: bold;
    color:rgb(5,79,139)    ;
}