<div class="my-container">
  <div class="row">
    <div class="col col-md-7">
      <div class="row justify-content-center p-5">
        <div class="col-md-10">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="card-header">
              <h3 class="">Login</h3>
            </div>
            <div class="card-body">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- <div class="row mb-4"></div> -->
                <!-- <div class="col"> -->
                <div class="mb-3">
                  <label class="form-label" for="userName">UserName : </label>
                  <input
                    class="form-control"
                    id="userName"
                    required
                    type="text"
                    formControlName="userName"
                  />
                  <span
                    style="color: red"
                    *ngIf="userName.invalid && userName.touched"
                    >This field is required!</span
                  >
                  <!-- <label class="form-label">Name</label> -->
                  <!-- </div> -->
                </div>

                <!-- <div class="mb-3"> -->
                <!-- <br /> -->
                <div class="mb-3">
                  <label for="password">Password: </label>
                  <input
                    class="form-control"
                    id="password"
                    type="password"
                    formControlName="password"
                  />

                  <span
                    style="color: red"
                    *ngIf="password.invalid && password.touched"
                    >This field is required!</span
                  >

                  <br />
                </div>

                <!--button  -->
                <br />

                <select formControlName="loginType">
                  <option *ngFor="let lt of loginType" [ngValue]="lt">
                    {{ lt.userType }}
                  </option>
                </select>
                <!-- <div class="col-md-4">
                          <button class="btn btn-danger" type="submit">
                            Delete Employee
                          </button>
                        </div> -->
                <br />
                <hr />
                <div class="form-group row">
                  <div class="col-md-4">
                    <button
                      class="btn btn-primary"
                      [disabled]="!loginForm.valid"
                      type="submit"
                    >
                      Submit
                    </button>
                  </div>
                </div>
                <!-- button -->

                <!-- <button class="btn btn-success btn-lg float-right" type="submit">
                          Add New Employee
                        </button>
                        <br />
            
                        <button type="submit" (click)="updateEmp()">update</button> -->
                <!-- </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-ld-4">
      <div class="container p-4">
        <img src="assets/img/Mobile login.svg" alt="" width="95%" />
      </div>
    </div>
  </div>
</div>
