<!-- <div class="container mt-5" width="100%"> -->
<div class="cc">
  <div class="table-responsive" style="margin: 40px">
    <h2 class="req">Requests</h2>
    <table class="table table-responsive table-borderless">
      <thead>
        <tr class="bg-light">
          <th scope="col" width="5%">Id</th>
          <th scope="col" width="10%">Status</th>
          <th scope="col" width="10%">Start Date</th>
          <th scope="col" width="10%">End Date</th>
          <th scope="col" width="15%">Reason</th>
          <th scope="col" width="8%">Dest From</th>
          <th scope="col" width="8%">Dest To</th>
          <th scope="col" width="8%">Travel Mode</th>
          <th scope="col" width="7%">Expense</th>
          <th scope="col" width="5%">Update</th>
          <th scope="col" width="9%">Claim Expense</th>
          <th scope="col" width="7%">Delete</th>
        </tr>
      </thead>
      <tbody class="bg-light">
        <tr *ngFor="let r of reqList">
          <td>{{ r.travelRequestId }}</td>
          <td>
            <i
              *ngIf="r.travelRequestStatus == 'approved'"
              class="fa fa-check-circle-o green p-1"
              style="color: green; font-size: 22px"
            ></i>
            <i
              *ngIf="r.travelRequestStatus == 'pending'"
              class="fa fa-clock-o p-1"
              style="color: blue; font-size: 22px"
            ></i>

            <i
              *ngIf="r.travelRequestStatus == 'rejected'"
              class="fa fa-dot-circle-o p-1"
              style="color: red; font-size: 22px"
            ></i>

            {{ r.travelRequestStatus }}
          </td>
          <td>
            {{ r.travelRequestStartDate }}
          </td>
          <td>
            <!-- <img src="https://i.imgur.com/nmnmfGv.png" width="25" />  -->
            {{ r.travelRequestEndDate }}
          </td>
          <td>{{ r.travelRequestReason }}</td>
          <td>{{ r.destinationFrom }}</td>
          <td>{{ r.destinationTo }}</td>
          <td>{{ r.modeOfTravel }}</td>
          <td>
            <span class="fw-bolder">${{ r.estimatedExpense }}</span>
          </td>
          <td>
            <button
              class="btn btn-primary"
              type="submit"
              (click)="updateRequest(r.travelRequestId)"
            >
              <i class="fa fa-pencil"></i>
            </button>
          </td>
          <td>
            <button
              [disabled]="checkfun(r.travelRequestStatus)"
              class="btn btn-primary"
              type="submit"
              (click)="checkExpense(r.travelRequestId)"
            >
              <i class="fa fa-external-link"></i>
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              type="submit"
              (click)="deleteRequest(r.travelRequestId)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- </div> -->

<!-- 

<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Request Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
        <th>Dest From</th>
        <th>Dest To</th>
        <th>Estimate Expense</th>
        <th>Mode of Travel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reqList">
        <td>{{ r.travelRequestId }}</td>
        <td>{{ r.travelRequestStatus }}</td>
        <td>{{ r.travelRequestStartDate }}</td>
        <td>{{ r.travelRequestEndDate }}</td>
        <td>{{ r.travelRequestReason }}</td>
        <td>{{ r.destinationFrom }}</td>
        <td>{{ r.destinationTo }}</td>
        <td>{{ r.estimatedExpense }}</td>
        <td>{{ r.modeOfTravel }}</td>
        <td>
          <button
            class="btn btn-primary"
            type="submit"
            (click)="updateRequest(r.travelRequestId)"
          >
            Update
          </button>
        </td>
        <td>
          <button
            [disabled]="checkfun(r.travelRequestStatus)"
            class="btn btn-primary"
            type="submit"
            (click)="checkExpense(r.travelRequestId)"
          >
            Claim Expense
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            type="submit"
            (click)="deleteRequest(r.travelRequestId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
